*

# Configurations
!.gitignore
!.editorconfig

# Development environment
!.devcontainer/
!.devcontainer/Dockerfile
!.devcontainer/*.json
!.vscode/
!.vscode/*.json

# Documentations
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!README.md
!CHANGELOG.md
!LICENSE

# Entrypoints
!Makefile
!skaffold.yaml

# Application sources
!cmd/
!cmd/**/*

# Shared application libraries
!pkg/
!pkg/**/*

# Service deployments
!deployment/
!deployment/**/
!deployment/**/Chart.yaml
!deployment/**/requirements.yaml
!deployment/**/values.yaml
!deployment/**/requirements.lock
!deployment/**/templates/
!deployment/**/templates/*.yaml
!deployment/**/templates/_helpers.tpl
!deployment/**/templates/NOTES.txt

# Shared build
!build/
!build/**/*

# Global documentations
!docs/
!docs/**/*

# Shared mesh APIs
!api/
!api/**/*

# Scripts
!hack/
!hack/**/*
