*

# Documentations
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!README.md
!LICENSE

# Meta files
!**/
!**/.gitignore
!**/.editorconfig
!skaffold.yaml

# Monorepo application folder
!cmd
!cmd/**/
!cmd/**/*

# Various scripts
!hack/
!hack/**/
!hack/**/*.sh

# Deployment scripts
!deployment/
!deployment/*.yaml
!deployment/templates/
!deployment/templates/*.yaml
!deployment/templates/_helpers.tpl
!deployment/templates/NOTES.txt
