*

# Configurations
!.gitignore
!.editorconfig

# Development environment
!.devcontainer/
!.devcontainer/Dockerfile
!.devcontainer/*.json
!.vscode/
!.vscode/*.json

# Documentations
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!README.md
!CHANGELOG.md
!LICENSE

# Entrypoints
!Makefile
!skaffold.yaml

# Application sources
!apps/
!apps/**/*

# Shared application libraries
!pkg/
!pkg/**/*

# Service deploymentss
!deployments/
!deployments/**/
!deployments/**/Chart.yaml
!deployments/**/requirements.yaml
!deployments/**/values.yaml
!deployments/**/requirements.lock
!deployments/**/templates/
!deployments/**/templates/*.yaml
!deployments/**/templates/_helpers.tpl
!deployments/**/templates/NOTES.txt

# Shared build
!build/
!build/**/*

# Global documentations
!docs/
!docs/**/*

# Shared mesh APIs
!api/
!api/**/*

# Scripts
!hack/
!hack/**/*
