*

# Meta files
!/babel.config.js
!/nuxt.config.js
!/jest.config.js

# Entrypoints
!/yarn.lock
!/package.json

# Application files
!/components/
!/components/**/*.vue

!/layouts/
!/layouts/**/*.vue

!/pages/
!/pages/**/*.vue

# Service level files
!/middleware/
!/middleware/*.js

!/plugins/
!/plugins/*.js

!/store/
!/store/*.js

# Tests suite
!/test/
!/test/*.js

# Shared assets
!/assets/
!/assets/**/*
