*

# Elixir config files
!/config/
!/config/**/*.exs

# Mix root
!/mix.exs
!/mix.lock

# Application files
!/apps/
!/apps/*/
!/apps/*/mix.exs

!/apps/*/test/
!/apps/*/test/**/
!/apps/*/test/**/*.exs

!/apps/*/lib/
!/apps/*/lib/**/
!/apps/*/lib/**/*.ex

!/apps/*/priv/
!/apps/*/priv/**/
!/apps/*/priv/**/*

# Release files
!/rel/
!/rel/*.exs
!/rel/vm.args
!/rel/commands/
!/rel/commands/*.sh
!/rel/hooks/
!/rel/hooks/**/
!/rel/hooks/**/*.sh
