*

# Meta files
!/.gitignore
!/.dockerignore

# Mix format
!/.formatter.exs

# Elixir config files
!/config/
!/config/**/*.exs

# Entrypoints
!/mix.exs
!/mix.lock
!/docker-entrypoint.sh

# Application files
!/apps/
!/apps/*/
!/apps/*/mix.exs
!/apps/*/.formatter.exs

!/apps/*/test/
!/apps/*/test/**/
!/apps/*/test/**/*.exs

!/apps/*/lib/
!/apps/*/lib/**/
!/apps/*/lib/**/*.ex

!/apps/*/priv/
!/apps/*/priv/**/
!/apps/*/priv/**/*

**/*.pyc

# Release files
!/rel/
!/rel/*.eex
