*

# Meta files
!/.gitignore
!/.dockerignore

# Entrypoints
!/go.mod
!/go.sum

# Application files
!/cmd/
!/cmd/**/
!/cmd/**/*.go

# Internal files
!/internal/
!/internal/app/**/
!/internal/app/**/*.go
!/internal/pkg/**/
!/internal/pkg/**/*.go

# Shared modules
!/pkg/
!/pkg/**/
!/pkg/**/*.go
