*

!mix.exs
!mix.lock

!**/config/
!**/config/**/
!**/config/**/*.exs

!apps/
!apps/*/
!apps/*/mix.exs

!apps/*/test/
!apps/*/test/**/
!apps/*/test/**/*.exs

!apps/*/lib/
!apps/*/lib/**/
!apps/*/lib/**/*

!apps/*/priv/
!apps/*/priv/**/
!apps/*/priv/**/*

!apps/*/assets/
!apps/*/assets/**/
!apps/*/assets/**/*

!rel/
!rel/*.exs
!rel/vm.args
!rel/commands/
!rel/commands/*.sh
